<% if flash[:error] %>
    <div class="alert alert-danger" role="alert">
        <h5 class="error"><%= flash[:error] %></h5>
    </div>
<% elsif flash[:success] %>
    <div class="alert alert-success" role="alert">
        <h5 class="success"><%= flash[:success] %></h5>
    </div>
<% end %>


<h1>All Available Courses</h1>
<h3>Course name:</h3>

<div class="list-group">
    <% @courses.each do |course|%>
        
  <a href="/courses/<%= course.id%>" class="list-group-item"><%= course.name %></a>
  <%end%>
</div>
