<% if flash[:error] %>
    <div class="errors flash fatal">
        <h4 class="error"><%= flash[:error] %></h4>
    </div>
<% end %>

<h1>All Available Courses</h1>

<ul><% @courses.each do |course|%>
    <li>
    <h3>Course name: <%=course.id%><%= course.name%> </h3>
    <%= course.description %></p>            
<%end%></ul>
