<% if flash[:error] %>
    <div class="errors flash fatal">
        <h4 class="error"><%= flash[:error] %></h4>
    </div>
<% end %>

<h1>This is the Model's index page.</h1>

<a href="/logout" class="btn btn-primary">Logout</a>