<h1>Enter New Course Information.</h1>
<div class="form-container">
    <form method="post" action="/courses">
        <div class="form-group">
            <label for="name">Course name</label>
            <input type="text" name="course[name]" id="name" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Course description:</label>
            <textarea type="text" name="course[description]" id="description" class="form-control" rows="3" placeholder="This field cannot be left empty. Please add a course description." required></textarea>
        </div>
        <div class="form-row align-items-center">
            <div class="col-auto my-1">
                <label class="mr-sm-2" for="category">Category</label>
                <select type="text" name="course[category]" class="custom-select mr-sm-2" id="inlineFormCustomSelect" required>
                    <option selected>Choose...</option>
                    <option value="Instrument">Instrument</option>
                    <option value="Ensemble">Ensemble</option>
                    <option value="Music Theory">Music Theory</option>
                    <option value="Voice">Voice</option>
                    <option value="Voice/Ensemble">Voice/Ensemble</option>
                    <option value="Other">Other</option>
                </select>
            </div>
        </div>

        <div class="form-row align-items-center">
            <div class="col-auto my-1">
                <label class="mr-sm-2" for="level">Level</label>
                <select type="text" name="course[level]" class="custom-select mr-sm-2" id="inlineFormCustomSelect" required>
                    <option selected>Choose...</option>
                    <option value="Beginner">Beginner</option>
                    <option value="Intermediate">Intermediate</option>
                </select>
            </div>
        </div>

        <div class="form-row align-items-center">
            <div class="col-auto my-1">
                <label class="mr-sm-2" for="semester">Semester</label>
                <select type="text" name="course[semester]" class="custom-select mr-sm-2" id="inlineFormCustomSelect" required>
                    <option selected>Choose...</option>
                    <option value="Spring">Spring</option>
                    <option value="Fall">Fall</option>
                </select>
            </div>
        </div><br>

        <div class="btn-group">
            <input type="submit" class="btn btn-primary" value="Create New course">
        </div>
    <form>
</div>