<div class="container">
  <header><img src="images/Ta-Da-3.png" class="rounded mx-auto d-block" class="img-responsive main-image"></header>
  <div class="container-fluid" >
    <div class="container-bg">
      <div class="card text-center">
        <div class="card-header">   </div>
        <div class="card-body">
          <h5 class="card-title">Course Management Page</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
